.parent {
  display: flex;
}

.buttons {
  width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  margin: 2px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid black;
  background: #4433ff;
}

.buttons:hover {
  background: #fff;
  color: #4433ff
}

img{
  max-width: 400px;
  max-height: 400px;
}