.card {
    margin: .3rem;
    padding: .5rem;
    width: 32%;
    height: 380px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    text-align: center;
    display: block;
    align-items: center;
}

.cardImgTop {
    max-height: 120px;
    max-width: 120px;
}

.btn {
    width: 100px;
    height: 40px;
    color: #fff;
    padding: 5px;
    margin: 2px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid black;
    background: #4433ff;
  }
  
  .btn:hover {
    background: #fff;
    color: #4433ff
  }

h1 {
    padding: .2rem;
    margin: .2rem;
}

p{
    padding: .2rem;
    margin: .2rem;
    text-align: justify;
}