.card {
    margin: .3rem;
    padding: .5rem;
    width: 32%;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    text-align: center;
    display: block;
}

.card-img-top {
    height: 200px;
    width: 200px;
}

.btn {
    width: .3rem;
    height: .3rem;
    background: dodgerblue;
    border-radius: 6px;
    text-decoration: none;
    padding: 3px;
    margin: 5px;
    color: aliceblue;
}

h1 {
    padding: .2rem;
    margin: .2rem;
}

p{
    padding: .2rem;
    margin: .2rem;
    text-align: justify;
}